.container{
    border: 3px solid blue;
    display: flex;
    height: 70px;
}
.box{
    border: 1px solid #666;
    width: 100px;
}
.box1{
    background: pink;
    flex-grow: 1;
}
.box2{
    background: lightblue;
    flex-grow: 2;
}
.box3{
    background: lightcoral;
}
.box4{
    background: lightgrey;
}
.box5{
    background: lightsalmon;
}