*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    padding: 10px;
}
h1{
    text-align: center;
}
ul{
    margin: 15px;
}
p.i{
    text-indent: 30px;
}